* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1;
  box-sizing: border-box;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

em {
  font-style: normal;
  font-weight: normal;
}

button {
  border: none;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

section {
  position: relative;
  height: auto;
  width: 100vw;
  height: 100vh;
  transition: transform 1s;
}

.bg_black {
  background-color: #000000;
}

.bg_white {
  background-color: #fff;
}

.color_white {
  color: #fff;
}

.color_black {
  color: #000000;
}

.color_personal {
  color: #e60044;
}

.colunm {
  display: flex;
  flex-direction: column;
}

.line_clamp {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line_break {
  white-space: pre-line;
}

.text_hover {
  color: #fff;
}

#header {
  position: absolute;
  background-color: transparent;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.header_side {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  z-index: 20;
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.logo img {
  vertical-align: top;
  height: 35px;
}

.gnb {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  height: 100px;
  z-index: 10;
  transition: all 0.5s;
}

.gnb_hover {
  height: 400px;
  background-color: #ffffff;
}

.gnb_ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  height: 100px;
}

.gnb_li {
  position: relative;
  width: 180px;
  height: 100%;
  padding-top: 100px;
}

.gnb02 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.gnb02 .gnb02_ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  padding-top: 100px;
  color: black;
}

.red_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #e60044;
  z-index: -1;
  transition: all 0.1s;
}

.red_bg_hover {
  height: 450px;
  transition: all 0.1s;
}

.header_btn {
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 20;
}
.header_btn a {
  height: 45px;
  display: flex;
  color: #fff;
  font-weight: 600;
  text-align: center;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
.header_btn a img {
  background-color: #000000;
}
.header_btn a:nth-child(1) {
  background-color: #e60044;
}

.sitemap_btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: #fff;
}
.sitemap_btn #side_menu_icon {
  font-size: 18px;
}

.background_video_wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.background_video_wrapper #player {
  width: 100vw;
  min-height: calc(100vh + 340px);
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.background_video {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.black_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 10;
  opacity: 0.5;
}

.background_video_text_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.bg_video_text_con {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  z-index: 20;
  color: #ffffff;
  font-weight: 500;
  gap: 20px;
}
.bg_video_text_con .bg_video_text {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.bg_video_text_con .bg_video_text h1:nth-child(1) {
  animation: sec01_text_opacity 4s ease-in-out;
}
.bg_video_text_con .bg_video_text h1:nth-child(2) {
  animation: sec01_text_opacity 5s ease-in-out;
}

@keyframes sec01_text_opacity {
  0% {
    opacity: 0;
    filter: blur(0px);
  }
  90% {
    opacity: 0;
    filter: blur(1px);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
  }
}
.bg_logo_con {
  display: flex;
}

.H_con,
.Y_con {
  width: 144px;
  height: 144px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.H_con .H_item:nth-child(1),
.Y_con .H_item:nth-child(1) {
  background: linear-gradient(to bottom, rgb(129, 124, 117) 0%, rgb(255, 255, 255) 100%);
  animation: logo_opacity 2s ease-in;
}
.H_con .H_item:nth-child(2),
.Y_con .H_item:nth-child(2) {
  background: transparent;
}
.H_con .H_item:nth-child(3),
.Y_con .H_item:nth-child(3) {
  background: #fff;
  animation: logo_opacity 1s ease-in;
}
.H_con .H_item:nth-child(4),
.Y_con .H_item:nth-child(4) {
  background: linear-gradient(to right, rgb(130, 121, 115) 1%, rgb(225, 223, 221) 100%);
  animation: logo_opacity 2s ease-in;
}
.H_con .H_item:nth-child(5),
.Y_con .H_item:nth-child(5) {
  background: linear-gradient(to right, rgb(225, 223, 221) 0%, rgb(255, 255, 255) 100%);
  animation: logo_opacity 3s ease-in;
}
.H_con .H_item:nth-child(6),
.Y_con .H_item:nth-child(6) {
  background: #fff;
  animation: logo_opacity 2.5s ease-in;
}
.H_con .H_item:nth-child(7),
.Y_con .H_item:nth-child(7) {
  background: #fff;
  animation: logo_opacity 3.5s ease-in;
}
.H_con .H_item:nth-child(8),
.Y_con .H_item:nth-child(8) {
  background: transparent;
}
.H_con .H_item:nth-child(9),
.Y_con .H_item:nth-child(9) {
  background: linear-gradient(to bottom, rgb(195, 191, 188) 0%, rgb(125, 119, 111) 100%);
  animation: logo_opacity 2.8s ease-in;
}
.H_con .Y_item:nth-child(1),
.Y_con .Y_item:nth-child(1) {
  background: linear-gradient(to right, rgb(127, 119, 113) 1%, rgb(227, 225, 223) 100%);
  animation: logo_opacity 2s ease-in;
}
.H_con .Y_item:nth-child(2),
.Y_con .Y_item:nth-child(2) {
  background: linear-gradient(to right, rgb(227, 225, 223) 0%, rgb(255, 255, 255) 99%);
  animation: logo_opacity 3s ease;
}
.H_con .Y_item:nth-child(3),
.Y_con .Y_item:nth-child(3) {
  background: #fff;
  animation: logo_opacity 3.7s ease-in;
}
.H_con .Y_item:nth-child(4),
.Y_con .Y_item:nth-child(4) {
  background: transparent;
}
.H_con .Y_item:nth-child(5),
.Y_con .Y_item:nth-child(5) {
  background: linear-gradient(to bottom, rgb(121, 114, 111) 0%, rgb(227, 225, 223) 100%);
  animation: logo_opacity 3.4s ease-in;
}
.H_con .Y_item:nth-child(6),
.Y_con .Y_item:nth-child(6) {
  background: transparent;
}
.H_con .Y_item:nth-child(7),
.Y_con .Y_item:nth-child(7) {
  background: transparent;
}
.H_con .Y_item:nth-child(8),
.Y_con .Y_item:nth-child(8) {
  background: linear-gradient(to bottom, rgb(227, 225, 223) 0%, rgb(255, 255, 255) 100%);
  animation: logo_opacity 3.9s ease-in;
}
.H_con .Y_item:nth-child(9),
.Y_con .Y_item:nth-child(9) {
  background: transparent;
}

.H_item,
.Y_item {
  background-color: #fff;
  width: 48px;
  height: 48px;
}

@keyframes logo_opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scroll_con {
  position: absolute;
  bottom: 50px;
  left: 50%;
  font-size: 12px;
  color: #ffffff;
  height: 20px;
  overflow: hidden;
  text-align: center;
}
.scroll_con span {
  display: inline-block;
  animation: scroll_con_ani 1.5s ease-in-out infinite;
}
.scroll_con span:nth-child(1) {
  animation-delay: 0s;
}
.scroll_con span:nth-child(2) {
  animation-delay: 0.05s;
}
.scroll_con span:nth-child(3) {
  animation-delay: 0.06s;
}
.scroll_con span:nth-child(4) {
  animation-delay: 0.07s;
}
.scroll_con span:nth-child(5) {
  animation-delay: 0.08s;
}
.scroll_con span:nth-child(6) {
  animation-delay: 0.09s;
}
.scroll_con span:nth-child(7) {
  animation-delay: 0.1s;
}
.scroll_con span:nth-child(8) {
  animation-delay: 0.11s;
}
.scroll_con span:nth-child(9) {
  animation-delay: 0.12s;
}
.scroll_con span:nth-child(10) {
  animation-delay: 0.13s;
}

@keyframes scroll_con_ani {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
.section02_wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}

.sec02_article_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.3vw;
  height: 100%;
  background: url(../src/img/hyundai/section02_bg01.jpg) no-repeat 70% 50%;
  background-size: cover;
}

.sec02_right_con {
  display: flex;
  flex-direction: column;
  padding-left: 33.3vw;
}
.sec02_right_con .sec02_article_right:nth-child(1) {
  background: url(../src/img/hyundai/section02_bg02.jpg) no-repeat 70% 50%;
}
.sec02_right_con .sec02_article_right:nth-child(2) {
  background: url(../src/img/hyundai/section02_bg03.jpg) no-repeat 70% 50%;
}

.sec02_article_right {
  position: relative;
  height: auto;
  height: 50%;
  width: 66.67vw;
  background-size: cover;
}

.sec02_text,
.sec02_text01,
.sec02_text02 {
  position: absolute;
  top: 100px;
  left: 100px;
}

.sec02_title {
  color: #e60044;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.sec02_sub {
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 40px;
  margin-bottom: 1.1em;
  line-height: 50px;
}

.sec02_plus_btn {
  display: flex;
  position: relative;
}

.sec02_plus {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  z-index: 1;
}
.sec02_plus #plus_icon {
  width: 100%;
  height: 100%;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: plus01 0.3s;
}
.sec02_plus #plus_icon:hover {
  animation: plus 0.3s;
}

.sec02_plus_box {
  position: absolute;
  left: -10px;
  overflow: hidden;
  height: 1em;
  opacity: 0;
  transition: all 0.3s;
  width: 130px;
  height: 50px;
}
.sec02_plus_box p {
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.sec02_plus_btn:hover .sec02_plus_box {
  left: 50px;
  opacity: 1;
  width: 130px;
}

.section03_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.section03_text_wrapper {
  position: absolute;
  top: 100px;
  left: 100px;
}

.sec03_text01_con p {
  color: #e60044;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.sec03_text01_con h1 {
  font-size: 4.6vw;
  font-weight: 400;
  letter-spacing: -2, 5px;
  margin-bottom: 0.5em;
}
.sec03_text01_con h4 {
  font-size: 2.6vw;
  color: #eee;
  letter-spacing: -1px;
  margin-bottom: 1em;
}

.sec03_text02_con p {
  font-size: 2vw;
  line-height: 1.52;
}
.sec03_text02_con p:nth-child(2) {
  margin-bottom: 20px;
}
.sec03_text02_con span {
  font-weight: 600;
}

.section03_img_wrapper {
  position: absolute;
  right: 100px;
  bottom: 100px;
}
.section03_img_wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section03_img_wrapper li {
  position: relative;
  width: 300px;
  height: 300px;
}
.section03_img_wrapper li span {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}

.sec03_ul_div01,
.sec03_ul_div02 {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.sec03_ul_div01 li {
  background: #e60044 url(../src/img/hyundai/sec03_H.png) no-repeat 100% 0%;
  background-size: 60% 60%;
}

.sec03_ul_div02 li:nth-child(1) {
  background: black url(../src/img/hyundai/sec03_T.png) no-repeat 100% 0%;
  background-size: 60% 60%;
}
.sec03_ul_div02 li:nth-child(2) {
  background: black url(../src/img/hyundai/brand_smart_life_bg.jpg) no-repeat 100% 0%;
  background-size: cover;
}

.sec04_wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sec04_top {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}
.sec04_top .sec04_top_ul {
  width: 100%;
  height: 50vh;
  display: flex;
  overflow: hidden;
}
.sec04_top .sec04_top_ul li {
  position: relative;
  width: 25vw;
  height: auto;
  overflow: hidden;
}
.sec04_top .sec04_top_ul li:nth-child(1) .sec04_img_con {
  background: url(../src/img/hyundai/sec04_img01.jpg) no-repeat;
  background-size: cover;
}
.sec04_top .sec04_top_ul li:nth-child(2) .sec04_img_con {
  background: url(../src/img/hyundai/sec04_img02.jpg) no-repeat;
  background-size: cover;
}
.sec04_top .sec04_top_ul li:nth-child(3) .sec04_img_con {
  background: url(../src/img/hyundai/sec04_img03.jpg) no-repeat;
  background-size: cover;
}
.sec04_top .sec04_top_ul li:nth-child(4) .sec04_img_con {
  background: url(../src/img/hyundai/sec04_img04.png) no-repeat;
  background-size: cover;
}

.sec04_img_con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.sec04_top_text {
  position: absolute;
  bottom: 2.6vw;
  left: 2.6vw;
  right: 2.6vw;
  color: #fff;
  font-size: 14px;
  z-index: 20;
}
.sec04_top_text p {
  letter-spacing: -0.25px;
  margin-bottom: 20px;
  font-size: 18px;
}
.sec04_top_text strong {
  letter-spacing: -0.5px;
  font-weight: 600;
  margin-bottom: 1.25em;
  font-size: 28px;
  line-height: 1.66;
}
.sec04_top_text small {
  opacity: 0.35;
  letter-spacing: -0.25px;
}

.sec04_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.sec04_bottom_bg {
  background: url(../src/img/hyundai/main_invest_bg.jpg) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sec04_bottom_content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 100px;
}

.sec04_bottom_text p:nth-child(3) {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: -0.5px;
  opacity: 0.5;
  line-height: 1.5;
  margin-bottom: 20px;
}

.sec04_bottom_btn {
  position: relative;
  width: 50px;
  height: 50px;
}
.sec04_bottom_btn button {
  width: 100%;
  height: 100%;
  background-color: #e60044;
}
.sec04_bottom_btn #more {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  transition: all 0.5s;
  z-index: 10;
}

.sec04_bottom_btn:hover .sec04_more {
  opacity: 1;
  animation: plus03 ease 0.3s;
  width: 100px;
}

.sec04_bottom_btn:hover .sec04_more_text em {
  line-height: 0px;
  transition: all 0.7s;
  opacity: 1;
}

#more:hover {
  transform: rotate(180deg);
  transition: all 1s;
}

.sec04_more {
  width: 0px;
  height: 50px;
  background-color: #e60044;
  position: absolute;
  top: 0;
  left: 50px;
  opacity: 0;
  transition: all 1s;
}
.sec04_more .sec04_more_text {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 15px;
  overflow: hidden;
  height: 1em;
}
.sec04_more .sec04_more_text em {
  line-height: 100px;
}

.sec04_bottom_right {
  display: flex;
  gap: 10px;
}

.sec04_bottom_item {
  width: 220px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.5s;
}
.sec04_bottom_item p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.25px;
  opacity: 0.9;
}

.sec04_bottom_item:hover {
  transition: all 0.5s;
  background-color: #e60044;
}

.section05 {
  height: 70vh;
}

.sec05_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  padding-top: 10vh;
  background: url(../src/img/hyundai/main_brand_video_bg.jpg) no-repeat;
  background-size: cover;
}

.title_red {
  color: #e60044;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}

.main_title {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.sub_title {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: -0.5px;
  opacity: 0.5;
  margin-bottom: 30px;
  line-height: 1.5;
}

.sec05_video_con #sec05_video {
  width: 770px;
  height: 433px;
}

.footer {
  width: 100%;
  background-color: #ffffff;
}

.footer_item {
  position: relative;
  border-top: 1px solid rgba(164, 164, 164, 0.5);
  padding: 10px 250px 10px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbb;
  overflow: hidden;
}

.footer_left,
.footer_right {
  display: flex;
  gap: 2em;
  font-weight: 600;
  font-size: 14px;
  padding: 20px;
}
.footer_left ul,
.footer_right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_right ul li:nth-child(1) {
  font-size: 15px;
}

.slide_wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.slide_track {
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
  gap: 50px;
}

.icon_con {
  font-size: 24px;
  display: flex;
  gap: 2em;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes plus03 {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
}
@keyframes plus02 {
  0% {
    width: 0px;
  }
  100% {
    width: 130px;
  }
}
@keyframes plus01 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes plus {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 1520px) {
  .second .footer_right {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .gnb {
    display: none;
  }
  .main_title {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }
  .title_red {
    font-size: 12px;
  }
  .sec05_video_con #sec05_video {
    width: 670px;
    height: 333px;
  }
  .first .footer_left {
    flex-direction: column;
  }
  .first .footer_right {
    flex-direction: column;
  }
}
@media screen and (max-width: 1030px) {
  .bg_video_text_con {
    font-size: 38px;
  }
  .sec02_sub {
    font-size: 24px;
  }
  .sec04_bottom_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #fff;
    gap: 10px;
    padding: 20px 0 50px 50px;
  }
  .sec04_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .sec04_bottom_item {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.5s;
  }
  .sec04_bottom_item p {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.25px;
    opacity: 0.9;
  }
  .sec05_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5vw;
    padding-top: 10vh;
    padding-left: 10vw;
    background: url(../src/img/hyundai/main_brand_video_bg.jpg) no-repeat;
    background-size: cover;
  }
  .footer_item {
    position: relative;
    border-top: 1px solid rgba(164, 164, 164, 0.5);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #bbb;
    overflow: hidden;
  }
}
@media screen and (max-width: 835px) {
  .bg_video_text_con {
    justify-content: start;
    align-items: end;
    font-size: 24px;
    bottom: 100px;
  }
  .bg_video_text_con img {
    width: 100px;
  }
  .section02_wrapper {
    display: flex;
    flex-direction: column;
  }
  .sec02_article_left {
    position: relative;
    width: 100%;
    height: 33vh;
    background: url(../src/img/hyundai/section02_bg01_m.jpg) no-repeat 70% 50%;
    background-size: cover;
  }
  .sec02_right_con {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .sec02_right_con .sec02_article_right:nth-child(1) {
    height: 33vh;
    background: url(../src/img/hyundai/section02_bg02_m.jpg) no-repeat 70% 50%;
  }
  .sec02_right_con .sec02_article_right:nth-child(2) {
    height: 33vh;
    background: url(../src/img/hyundai/section02_bg03_m.jpg) no-repeat 70% 50%;
  }
  .sec02_article_right {
    position: relative;
    width: 100%;
    background-size: cover;
  }
  .sec02_text,
  .sec02_text01,
  .sec02_text02 {
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .sec02_title {
    font-size: 14px;
  }
  .sec02_sub {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 150px;
  }
  .sec02_plus {
    width: 45px;
    height: 45px;
  }
  .sec02_plus #plus_icon {
    font-weight: 100;
    font-size: 18px;
  }
  .section03_text_wrapper {
    top: 20px;
    left: 10px;
  }
  .section03_text_wrapper .sec03_text01_con p {
    color: #e60044;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section03_text_wrapper .sec03_text01_con h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 0.5em;
  }
  .section03_text_wrapper .sec03_text01_con h4 {
    font-size: 2em;
    color: #eee;
    letter-spacing: -1px;
    margin-bottom: 1em;
  }
  .section03_text_wrapper .sec03_text02_con p {
    font-size: 2em;
    line-height: 1.5;
  }
  .section03_text_wrapper .sec03_text02_con p:nth-child(2) {
    margin-bottom: 0;
  }
  .section03_text_wrapper .sec03_text02_con span {
    font-weight: 600;
  }
  .section03_img_wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .section03_img_wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section03_img_wrapper li {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .section03_img_wrapper li span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 28px;
    font-weight: 900;
    color: #fff;
  }
  .sec03_ul_div01,
  .sec03_ul_div02 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sec03_ul_div01 li {
    background: #e60044 url(../src/img/hyundai/sec03_H.png) no-repeat 100% 0%;
    background-size: 20% 50%;
  }
  .sec03_ul_div01 .line_break {
    white-space: normal;
  }
  .sec03_ul_div02 li:nth-child(1) {
    background: black url(../src/img/hyundai/sec03_T.png) no-repeat 100% 0%;
    background-size: 20% 50%;
  }
  .sec03_ul_div02 li:nth-child(2) {
    background: black url(../src/img/hyundai/brand_smart_life_bg.jpg) no-repeat 100% 0%;
    background-size: cover;
  }
  .sec03_ul_div02 .line_break {
    white-space: normal;
  }
}/*# sourceMappingURL=hyundaiht.css.map */