$personal_color : #e60044;


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 13px;
    line-height: 1;
    box-sizing: border-box;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}


a,
ul,
li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
}

section {
    overflow: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.bg_black {
    background-color: #000000;
}

.bg_white {
    background-color: #fff;
}

.color_white {
    color: #fff;
}

.color_black {
    color: #000000;
}

.colunm {
    display: flex;
    flex-direction: column;
}

#header {
    position: absolute;
    background-color: transparent;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.header_side {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.logo {
    padding-left: 40px;
    display: flex;
    align-items: center;

    img {
        vertical-align: top;
        height: 35px;
    }
}

.gnb {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100px;


    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        font-size: 16px;
        color: #fff;
        height: 100px;

    }
}

.header_btn {
    display: flex;
    gap: 10px;
    align-items: center;


    a {
        height: 45px;
        display: flex;
        color: #fff;
        font-weight: 600;
        text-align: center;
        align-items: center;
        background-color: #000000;
        justify-content: space-between;
        padding: 0 10px 0 10px;

        img {
            background-color: #000000;
        }
    }

    a:nth-child(1) {
        background-color: $personal_color;
    }
}



.sitemap_btn {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.background_video_wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;

    #player {
        width: 100vw;
        min-height: calc(100vh + 340px);
        min-width: 177.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.background_video {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.black_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 10;
    opacity: 0.5;
}

.background_video_text_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.bg_video_text_con {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    z-index: 20;
    color: #ffffff;
    font-weight: 500;

    .bg_video_text {
        display: flex;
        flex-direction: column;

        text-align: start;
    }

    img {
        width: 400px;
    }
}



.section02_wrapper {
    display: flex;
}

.sec02_article_left {
    img {
        background-size: cover;
        height: 100vh;

    }
}

.sec02_article_right {
    background-color: #000000;

    img {
        background-size: cover;
        height: 50vh;
    }
}

.sec02_text {
    position: absolute;
    top: 100px;
    left: 100px;
}

.sec02_text01 {
    position: absolute;
    top: 100px;
    right: 890px;

}

.sec02_text02 {
    position: absolute;
    bottom: 100px;
    right: 890px;
}

.sec02_title {
    color: $personal_color;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1.5em;
}

.sec02_sub {
    font-weight: 900;
    letter-spacing: -0.5px;
    font-size: 40px;
    margin-bottom: 1.1em;
    line-height: 50px;
}

.sec02_plus_btn {
    display: flex;
    position: relative;
    width: 100px;

}

.sec02_plus {
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    z-index: 1;

    #plus_icon {
        width: 100%;
        height: 100%;
        font-size: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: plus01 0.3s;

    }

    #plus_icon:hover {
        animation: plus 0.3s;
    }
}

.sec02_plus_box {
    position: absolute;
    left: -10px;
    overflow: hidden;
    height: 1em;
    opacity: 0;
    transition: all 0.3s;
    width: 130px;
    height: 50px;

    p {
        margin-top: 15px;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }

}

.sec02_plus_btn:hover .sec02_plus_box {
    left: 50px;
    opacity: 1;
    width: 130px;
}

.section03_text_wrapper {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 100px;
}

.sec03_text01_con {
    p {
        color: $personal_color;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 4.6vw;
        font-weight: 400;
        letter-spacing: -2, 5px;
        margin-bottom: 0.5em;
    }

    h4 {
        font-size: 2.6vw;
        color: #eee;
        letter-spacing: -1px;
        margin-bottom: 1em;
    }
}

.sec03_text02_con {
    p {
        font-size: 2vw;
        line-height: 1.52;
    }

    p:nth-child(2) {
        margin-bottom: 20px;
    }

    span {
        font-weight: 600;
    }
}

.section03_img_wrapper {
    position: absolute;
    bottom: 100px;
    right: 100px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    li {
        position: relative;
        width: 300px;
        height: 300px;


        span {
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-size: 28px;
            font-weight: 900;
            color: #fff;
        }

    }

}

.sec03_ul_div01,
.sec03_ul_div02 {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.sec03_ul_div01 {
    li {
        background: $personal_color url(../src/img/hyundai/sec03_H.png) no-repeat 100% 0%;
        background-size: 60% 60%;
    }
}

.sec03_ul_div02 {
    li:nth-child(1) {
        background: black url(../src/img/hyundai/sec03_T.png) no-repeat 100% 0%;
        background-size: 60% 60%;
    }

    li:nth-child(2) {
        background: black url(../src/img/hyundai/brand_smart_life_bg.jpg) no-repeat 100% 0%;

        background-size: cover;
    }
}



.sec04_wrapper {
    position: relative;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.sec04_top {


    .sec04_top_ul {
        width: 100%;
        height: 50vh;
        display: flex;

        li {
            position: relative;
            width: 25%;
            height: 100%;
        }

        li:nth-child(1) .sec04_img_con {
            background: url(../src/img/hyundai/sec04_img01.jpg) no-repeat;
            background-size: cover;
        }
        li:nth-child(2) .sec04_img_con {
            background: url(../src/img/hyundai/sec04_img02.jpg) no-repeat;
            background-size: cover;
        }
        li:nth-child(3) .sec04_img_con {
            background: url(../src/img/hyundai/sec04_img03.jpg) no-repeat;
            background-size: cover;
        }
        li:nth-child(4) .sec04_img_con {
            background: url(../src/img/hyundai/sec04_img04.jpg) no-repeat;
            background-size: cover;
        }
    }
}

.sec04_img_con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}







@keyframes plus02 {
    0% {
        width: 0px;
    }

    100% {
        width: 130px;
    }
}

@keyframes plus01 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes plus {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}








@media screen and (max-width : 1300px) {
    .gnb {
        display: none;
    }
}

@media screen and (max-width : 1030px) {
    .bg_video_text_con {
        font-size: 38px;
    }

}

@media screen and (max-width : 835px) {
    .bg_video_text_con {
        background-color: #000000;
        justify-content: start;
        align-items: end;
        font-size: 24px;
        bottom: 100px;

        img {
            width: 100px;
        }
    }
}