@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$main-background-color : #eee;
$main-font-size : 16px;
$main-border-radius : 12px;
$main-text-color : white;

html {
    line-height: 1.15;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    margin: 0;
    overflow-x: hidden;
}

div,
input,
textarea,
img {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;

    &:visited {
        color: #eee;
    }

}



@mixin button() {

    background-color: transparent;
    border: 1px solid white;
    border-radius: $main-border-radius;
    width: 342px;
    height: 56px;
    padding: 16px 8px;
    /* justify-content: center;
        align-items: center; */
    font-size: 16px;
}

@mixin background_img() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


// 로딩 화면 scss
#load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#load>img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

/////////
/// 
/// // top scroll 스타일 컴포넌트
#progress {
    width: 100%;
    height: 5px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

//////////
.first_page {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    border-radius: 0 0 12px 12px;
    margin-bottom: 100px;

    .text01 {

        height: 20vh;
        overflow: hidden;
        position: absolute;
        color: blue;
        font-size: 100px;
        top: 20%;
        left: 20%;

        span {
            color: blanchedalmond;
            animation: first_word 2s;
            animation-delay: 1s;
            animation-iteration-count: 5;
            animation-duration: 0.2s;
        }

        p {
            animation: text01 1s;
        }

    }

    .text02 {
        height: 20vh;
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 100px;
        overflow: hidden;

        span {
            color: darkcyan;
        }

        p {
            animation: text02 4s;
            color: white;

        }

    }



}

@keyframes navbar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes text01 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
    }

}

@keyframes first_word {
    from {
        opacity: 0;
        transform: translateY(100px);

    }

    to {
        opacity: 1;
    }

}

@keyframes text02 {
    from {
        opacity: 0;
        transform: translateY(100px);


    }

    to {
        opacity: 1;

    }

}


/* top bar css */
.nav-container {
    position: sticky;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    animation: navbar 6s;
    top: 0;

    .main-logo {
        margin: 40px;
        cursor: pointer;
        font-size: $main-font-size + 20px;
    }

    .profile-con {
        width: 50px;
        height: 50px;
        margin-right: 40px;
        margin-left: 40px;

        .profile {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: bisque;

        }
    }
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: end;

    p {
        color: #eee;
        padding: 10px;
        font-size: 24px;
        margin-left: 20px;
        cursor: pointer;
        &:hover {
            color: #834b4b;
            animation: texthover 1s;
            transition: all 1s ease-in-out;
            
        }
    }
    
}
@keyframes texthover {
    from {
        opacity: 0;
        transform: scale(1.0);

    }
    to {
        color: #834b4b;
        transform: scale(1.4);

    }
    
}

.menu-menu {
    button:visited~.menu-con {
        transform: translateX(-700px);
        width: 100%;
        animation-fill-mode: forwards;



    }
}


.menu-con {
    position: absolute;
    height: 500px;
    opacity: 1;
    background-color: #eee;
}





.main-background {
    color: $main-background-color;
    width: 100%;
    height: 100vh;
    padding: 1px;
    margin-bottom: 50px;
    border-radius: 0px 0px 10px 10px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/img/shoes.jpg);
    @include background_img();

    .main-title {
        font-size: $main-font-size + 40px;
        color: $main-text-color;
        margin-top: 20vh;
        margin-left: 50px;
    }

    .context {
        font-size: $main-font-size + 10px;
        text-align: start;
        color: $main-text-color;
        margin-left: 50px;
        margin-right: 50px;
    }

    button {
        @include button();
        position: relative;
        top: 150px;
        left: 40px;
        color: $main-text-color;

        &:hover {
            background-color: $main-background-color;
            transition: 1s;
            color: black;
        }
    }
}



.content_03 {
    background-color: lightgrey;
    height: 8000px;
    margin-top: 100px;
    border-radius: 12px;
    padding: 100px 100px 30px 100px;

    .image {
        position: sticky;
        float: right;
        width: 800px;
        top: 200px;
        animation: grow_img auto linear;
        animation-timeline: scroll(nearest block);

        img {
            width: 100%;
            border-radius: 12px;
        }
    }

    .text {
        top: 300px;
        position: sticky;
        float: left;
        width: 400px;
        font-size: 24px;
        animation: grow_text auto linear;
        animation-timeline: scroll(nearest block);

    }
}

.scroll_content {
    max-width: 100%;
    text-align: center;
    position: sticky;
    top: 50%;
}

.scroll_title {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 2s ease;
}

.scroll_text {
    margin: 0;
    font-size: 1.25rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s 0.25s ease;
}

.scroll_content.show .scroll_title {
    opacity: 1;
    transform: translateY(0);
}

.scroll_content.show .scroll_text {
    opacity: 1;
    transform: translateY(0);
}

.show {
    opacity: 1;
}






@keyframes grow_text {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;

        transform: translateX(150px);
    }
}

@keyframes grow_img {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateX(-150px);
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@keyframes fade_out {
    from {
        opacity: 1;

    }

    to {
        opacity: 0;
    }

}





.hidden {
    visibility: hidden;
}

.card-background {
    height: 3000px;
    margin-top: 300px;
    margin-bottom: 4000px;

    p {
        position: sticky;
        top: 500px;
        display: block;
        text-align: center;
        font-size: 24px;
        animation: test01 2s;
        animation-timeline: scroll(nearest block);

    }

    .card-box {
        position: sticky;
        top: 300px;
        transition: all 1s;
        margin-top: 100px;
        overflow-x: hidden;
        animation: test01 auto linear;


        img {
            max-width: 80%;
            display: block;
            margin: auto;
        }
    }
}

@keyframes test01 {
    0% {
        opacity: 0;

    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }

}









.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
}

.slide-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .slide {
        position: absolute;
        display: none;
        z-index: 0;

        .enabled {
            display: block;
        }
    }
}







/* mid-component */
.mid-con {
    width: 100%;
    height: 100%;
    padding: 100px;
    margin-bottom: 100px;

    a {
        color: black;
    }

    p {
        font-size: 15px;
        text-align: center;
    }

    i {
        background-color: burlywood;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        padding-top: 30px;
        box-sizing: border-box;
        margin-top: 30px;
        font-size: 40px;
    }

    div {
        justify-content: center;
        align-items: center;
        border: 3px solid #eee;
        border-radius: $main-border-radius;
        font-size: $main-font-size + 8px;
        float: left;
        width: 25%;
        text-align: center;
        cursor: pointer;
        padding: 10px 10px 0 0;
    }
}



.sub-con {
    margin: auto;
    width: 30%;
    padding: 0 30px 0 30px;
    height: 200px;
    min-width: 600px;
    text-align: center;
    background-color: $main-background-color;
    border: 1px solid black;
    border-radius: $main-border-radius;
    position: relative;

    .sub-title {
        font-size: $main-font-size + 8px;
        color: black;
    }

    .sub-text {
        font-size: $main-font-size;
        color: black;
    }


}

.active-con {
    // display: none;
    color: black;
    position: absolute;
    top: 50%;
    text-align: center;
    background-color: aqua;
    width: 50%;
    height: 200px;
    left: 50%;

    &:hover {
        display: contents;
        opacity: 1;
        position: absolute;

    }


}





/* bg_02 */
.main-background_two {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: $main-border-radius;
    background: linear-gradient(to bottom, rgb(75, 166, 246), rgb(22, 61, 254));

    .bg_02_container {
        padding: 60px;
        max-width: 1200px;
    }

    img {
        width: 400px;
        position: absolute;
        top: 200px;
        left: 70%;
    }

    h4 {
        font-size: $main-font-size + 40px;
        color: $main-text-color;
    }

    p {
        font-size: $main-font-size + 8px;
        color: $main-text-color;
    }

    button {
        @include button();
        margin-top: 80px;
        color: $main-text-color;
    }
}


@media screen and (max-width: 768px) {
    .bg_02_container {
        text-align: center;

        img {
            display: none;
        }

        button {
            width: 200px;
        }
    }
}



/* bg_03 */

.bg_03 {
    width: 100%;
    height: 400px;
    align-items: center;
    position: relative;

    div {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 30%;

    }

    button {
        @include button();
        color: $main-text-color;
        background-color: black;
        margin-top: 50px;
    }
}


/* bg_04 */

.bg_04 {
    width: 100%;
    height: 500px;
    background-color: rgb(31, 77, 226);
    border-radius: $main-border-radius;
}

.bg_04_con {
    padding: 30px;
    text-align: center;

    .text {
        font-size: $main-font-size + 8px;
        color: $main-text-color;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .item {
        margin: 20px;
    }

    i {
        width: 100px;
        height: 100px;
        border-radius: $main-border-radius + 50px;
        background-color: $main-background-color;
        font-size: $main-font-size + 24px;
        box-sizing: border-box;
        padding-top: 30px;
    }

    h2,
    p {
        color: $main-text-color;
    }
}

/* bg_05 */

.bg_05 {
    width: 100%;
    height: 1000px;
    background-color: $main-background-color;
    padding: 100px 0 0 0;

    .text {
        font-size: $main-font-size + 8px;
        text-align: center;

    }
}

.bg_05_con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
        width: 40%;
        height: 300px;
        overflow: hidden;
        position: relative;

        &:hover {
            border: 15px solid $main-background-color;
            transition: all 0.5s;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    div {
        position: absolute;
        top: 10%;
        left: 30px;
        color: $main-text-color;
    }

}

.hover-btn {
    @include button();
    border: 1px solid black;

    &:hover {
        animation-name: button_hover;
        animation-duration: 0.5s;
    }

}

@keyframes button_hover {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);

    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.close {
    font-size: 80px;

    &:hover {
        animation-name: close_hover;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes close_hover {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(45deg) scale(1.5)
    }


}

.ani-text {
    text-align: center;

    &:hover {
        animation-name: ani;
        animation-duration: 1s;
    }
}

@keyframes ani {
    0% {
        transform: translateX(0px);

    }

    50% {
        transform: translateX(-100px);
    }

    75% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }

}



.footer {
    width: 100%;
    height: 200px;
    background-color: $main-background-color;

    .footer_con {
        align-items: center;
        text-align: center;
    }

    i {
        width: 90px;
        height: 90px;
        background-color: rgb(49, 69, 215);
        border-radius: 50px;
        box-sizing: border-box;
        font-size: 50px;
        padding-top: 20px;
        margin: 15px;
        color: $main-text-color;
    }

}





/* login-con */

.login-con {
    width: 600px;
    height: auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 40px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;


    margin-top: 100px;
    margin-bottom: 100px;


}

input,
textarea {
    height: 50px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;

}

.input-email {
    width: 100%;
    font-size: 16px;

}

.w-50 {
    width: 200px;
    font-size: 16px;

}


.div_first {
    width: 45%;
    float: left;
}

.div_last {
    width: 45%;
    float: left;
}

.input_message {
    width: 100%;
    height: 100px;
}

.send_btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: darkorange;
    color: #eee;
    position: relative;
    left: 60%;

}

.action {
    width: 100%;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}






.shop-bg {
    background-color: white;
    margin-top: 80px;
}

.shop-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.shop-item {
    width: 33%;
    border: 3px solid #eee;
    border-radius: 12px;
    margin: 20px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay-wrap:hover .overlay {
    margin-top: 50%;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(-40px);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 100%;
    transition: all 1s;
    border-radius: 12px;
}



.alert-box {
    background-color: aqua;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    top: 20px;
    text-align: center;
}


// slide 스타일 컴포넌트
.slide-wrapper {
    width: 500px;
    height: 300px;

    .slide {
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: all 1s;
    }

    img {
        width: 500px;
        height: 300px;
    }
}




.swiper {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #834b4b;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper .swiper-slide {
    height: 250px;

    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;

    img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        background-size: contain;

    }


}

.material-icons {
    font-size: 45px;
    color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    display: none;
}

.swiper-pagination {
    color: white;
}

.swiper-button-prev,
.swiper-button-next {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-button-prev {
    left: 120px;
}

.swiper-button-next {
    right: 120px;
}












@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }

    .mid-con div {
        float: left;
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }

    .mid-con div {

        float: none;
        width: 100%;
    }

}

@media screen and (max-width: 576px) {
    .main-title {
        font-size: 10px;
    }

}





/* .shopping-cart {
        width: 600px;
        margin: 50px auto;
        background: #f3f3f3;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .shopping-cart h2 {
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }
    .cart-items {
        margin-bottom: 20px;
    }
    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .cart-item:last-child {
        border-bottom: none;
    }
    .item-title {
        color: #333;
    }
    .item-price {
        color: #666;
    }
    .item-total {
        font-weight: bold;
        color: #333;
    }
    .cart-total {
        text-align: right;
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
    }
    .cart-buttons {
        text-align: center;
    }
    .cart-button {
        background: #5cb85c;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .cart-button:hover {
        background: #4cae4c;
    } */