$main-background-color : #eee;
$main-font-size : 16px;
$main-border-radius : 12px;
$main-text-color : white;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    line-height: 1.15;
    font-family: 'Noto Sans KR', 'sans-serif', 'Montserrat';
    font-size: 16px;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;

}

div,
input,
textarea,
img,
nav {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

@mixin button() {
    width: 130px;
    height: 50px;
    border: none;
    color: black;
    background-color: transparent;
}


nav {
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    padding: 15px 40px 15px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 10;
    background-color: transparent;
    border-bottom: 0.1px solid #eee;

    .logo {
        display: flex;
    }

    .nav-item {
        display: flex;

        div {
            margin-left: 40px;
            font-weight: 600;
        }
    }

    .login-con {
        display: flex;

        div {
            display: flex;
            align-items: center;
            font-size: large;
            font-weight: 500;
        }

        button {
            @include button();
            border: 2px solid black;
            border-radius: 24px;
            margin-left: 20px;

            span {
                font-weight: 500;
                font-size: large;
            }
        }
    }
}

nav:hover {
    background-color: white;
    transition: all 0.5s;
}


.first {
    width: 100%;
    height: 60vh;
    background-color: white;
    padding: 50px;
    overflow: hidden;

    .first_text {
        margin-top: 150px;
        position: relative;
        z-index: 1;
    }

    p {
        text-align: end;
        margin: 10px;


        &:nth-child(1) {
            color: white;
            font-size: 2rem;
        }

        &:nth-child(2) {
            color: greenyellow;
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 20px;

            span {
                color: white;
                font-size: 1rem;
            }
        }

        &:nth-child(3) {
            color: rgb(211, 211, 211);
        }
    }

    .circle {
        background-color: bisque;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 35%;
        left: 6%;
        border-radius: 50%;
    }

    .rectangle {
        position: absolute;
        width: 50%;
        height: 800px;
        margin-left: 60%;
        margin-top: -40%;

        transform: rotate(40deg);

        background-color: rgb(43, 85, 254);
        overflow-x: hidden;


    }
}


.swiper_con {
    width: 100%;
    transform: translateY(-150px);

}

.swiper {
    width: 90%;
    height: 500px;
    border-radius: 12px;
}

.swiper-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;

    img {
        width: 100%;
    }
}

.material-icons {
    position: absolute;
    font-size: 45px;
    color: rgb(255, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
    display: none;
}

.swiper-pagination {
    color: white;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
}

.swiper-button-prev {
    left: 120px;
}

.swiper-button-next {
    right: 120px;
}



.second {
    width: 100%;
    height: 500px;
    background-color: aqua;

    .second_text {
        width: 100%;
        font-size: 3rem;
        display: flex;
        justify-content: space-between;
    }
}

.second_swiper_con {
    width: 100%;

    .swiper-wrapper_second {
        width: 100%;
        display: flex;
        align-items: center;

        .profile_img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;

            }
        }

        .swiper-slide_second {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            width: 100%;
            height: 100%;
            background-color: #eee;
            padding: 20px;
            margin-left: 20px;

        

        }


    }
}