* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", "sans-serif", "Montserrat";
  background-repeat: no-repeat;
}

html,
body {
  margin: 0;
  line-height: 1;
  letter-spacing: -0.35px;
  font-size: 16px;
  background-color: rgb(247, 248, 253);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.min-w-full {
  min-width: 100%;
}

.max-w-1480px {
  max-width: 1480px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  min-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
}

header {
  position: sticky;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 68px;
  align-items: center;
  background-color: transparent;
  z-index: 10000;
  border-bottom: 0.1px solid #eee;
  transition: all 0.3s;
}
header .nav_container {
  max-width: 1280px;
  min-width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
  display: flex;
}
header .logo {
  width: 153px;
  height: 36px;
}
header .nav-item {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
header .nav-item span {
  width: auto;
  margin-left: 40px;
  font-weight: 600;
}
header .nav-item span:hover {
  color: rgb(48, 131, 255);
  cursor: pointer;
}
header .login-con {
  width: 100%;
  display: flex;
  justify-content: end;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
header .login-con div {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}
header .login-con div:hover {
  color: rgb(41, 115, 255);
  border-color: rgb(41, 115, 255);
}
header .login-con button {
  color: rgb(23, 25, 28);
  letter-spacing: -0.35px;
  line-height: 24px;
  font-weight: 700;
  font-size: 15px;
  padding: 3px 18px 5px 18px;
  border: 2px solid rgb(23, 25, 28);
  border-radius: 9999px;
  cursor: pointer;
  text-transform: none;
  background-color: transparent;
}
header .login-con button:hover {
  color: rgb(41, 115, 255);
  border-color: rgb(41, 115, 255);
}

.first {
  height: 200px;
}
.first .video_container {
  height: 310px;
  position: relative;
}
.first video {
  height: auto;
  max-width: 1480px;
  min-width: 1480px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}
.first .first_text {
  height: auto;
  max-width: 1480px;
  min-width: 1480px;
  width: 100%;
  position: absolute;
  top: 30%;
  left: 45%;
  display: block;
  transform: translateX(-50%);
}
.first p {
  text-align: end;
  margin: 5px;
}
.first p:nth-child(1) {
  color: white;
  font-size: 1.5rem;
}
.first p:nth-child(2) {
  color: greenyellow;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.first p:nth-child(2) span {
  color: white;
  font-size: 1rem;
}
.first p:nth-child(3) {
  color: rgb(211, 211, 211);
}

.test_container {
  position: relative;
  width: 3600;
  height: 420px;
  margin-top: 100px;
  margin-left: calc(50% - 600px);
  margin-right: calc(50% - 600px);
}

.slide-container {
  padding: 100px;
}
.slide-container ul {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.slide-container ul li {
  width: 100vw;
  flex-grow: 0;
  flex-shrink: 0;
  list-style-type: none;
  transition: all 0.5s;
}
.slide-container ul li a {
  overflow: hidden;
  width: 1200px;
  height: 420px;
  display: block;
}
.slide-container ul li img {
  border-radius: 12px;
  width: 1200px;
  height: 100%;
}

.next {
  width: 100px;
  height: 50px;
  border-color: rgb(23, 25, 28);
  border-width: 2px;
  border-radius: 100px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 45%;
  left: 1170px;
  background-color: white;
  border: none;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
}
.next img {
  transform: scale(0.5);
}

.pre {
  width: 100px;
  height: 50px;
  border-color: rgb(23, 25, 28);
  border-width: 2px;
  border-radius: 100px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45%;
  left: -30px;
  background-color: white;
  transform: rotate(180deg);
  border: none;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
}
.pre img {
  transform: scale(0.5);
}

.sec02_top_text {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  position: relative;
  max-width: 1280px;
  min-width: 1280px;
}
.sec02_top_text a {
  align-items: center;
  display: flex;
}
.sec02_top_text a h2 {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.section_icon {
  background-image: url(../src/Icon/More.png);
  width: 40px;
  height: 60px;
  transform: scale(0.7);
  margin-top: 5px;
  margin-left: 12px;
}

.select_con {
  position: relative;
  display: inline-block;
}
.select_con button {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  display: flex;
  padding-right: 30px;
}
.select_con span {
  color: rgb(23, 25, 28);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.select_con .select_icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.select_con .select_icon img {
  transform: rotate(90deg);
  scale: 0.3;
}

.section02_container {
  position: relative;
  width: 100%;
}

.sec02_next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%);
  transform: translateX(50%);
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
}
.sec02_next img {
  transform: scale(0.3);
}

.sec02_pre {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
}
.sec02_pre img {
  transform: scale(0.3) rotate(180deg);
}

.sec02_wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.sec02_wrapper .swiper_wrapper {
  transform: translateZ(0);
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  z-index: 1;
  margin-top: 50px;
  box-sizing: content-box;
  transition: all 1s;
}

.sec02_item {
  position: relative;
  width: 285px;
  min-width: 285px;
  max-width: 100%;
  height: 100%;
  margin-right: 20px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border: none;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba(5, 14, 56, 0.1215686275);
}
.sec02_item .img_con img {
  width: 111px;
  height: 111px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
  border: 6px solid white;
  box-shadow: 0px 2px 4px 0px rgba(219, 221, 233, 0.7);
}
.sec02_item .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 52px;
  color: rgb(116, 122, 134);
}
.sec02_item .text div:nth-child(1) {
  font-size: 18px;
  color: rgb(23, 25, 28);
  font-weight: 700;
  line-height: 28px;
}
.sec02_item .explain {
  color: rgb(116, 122, 134);
  font-size: 14px;
  font-weight: 400;
}
.sec02_item .sec02_item_span02 {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.sec02_item .game_ul {
  list-style-type: none;
  height: 76px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, rgb(255, 255, 255) calc(100% - 24px), rgba(255, 255, 255, 0));
          mask-image: linear-gradient(to bottom, rgb(255, 255, 255) calc(100% - 24px), rgba(255, 255, 255, 0));
}
.sec02_item .game_ul li {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin-top: 5px;
}
.sec02_item .game_ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.25rem;
  height: 1.5rem;
  max-width: 100%;
}
.sec02_item .game_ul li span {
  color: rgb(11, 118, 255);
  margin-left: 5px;
}
.sec02_item .sec02_footer {
  width: 100%;
  height: 2rem;
  gap: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.sec02_item .sec02_footer .sec02_footer_left {
  padding-top: 5px;
  gap: 0.25rem;
  display: flex;
}
.sec02_item .sec02_footer .sec02_footer_left div:nth-child(1) {
  flex-shrink: 0;
}
.sec02_item .sec02_footer .sec02_footer_left div:nth-child(2) {
  color: rgb(41, 115, 255);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.sec02_item .sec02_footer .sec02_footer_left .span_01 {
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.sec02_item .sec02_footer .sec02_footer_right {
  gap: 0.25rem;
  flex-shrink: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  height: auto;
  list-style: none;
}
.sec02_item .sec02_footer .sec02_footer_right li {
  background-position: center;
  background-size: 20px 20px;
  border: 1px solid rgb(232, 235, 242);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-image: url(../src/Icon/YoutubeChannelIcon.svg);
}
.sec02_item .sec02_footer .sec02_footer_right li:nth-child(1) {
  background-image: url(../src/Icon/YoutubeChannelIcon.svg);
}
.sec02_item .sec02_footer .sec02_footer_right li:nth-child(2) {
  background-image: url(../src/Icon/AfreecaChannelIcon.svg);
}

.sec03_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec03_text h1 {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.sec03_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  height: 100px;
}

.sec03_img01 {
  background-image: url("https://creators-cdn.nexon.com/creators-support/assets/home/game/community2/game_2092_1711501497407.png");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 590px;
  height: 208px;
  position: relative;
}

.sec03_img02 {
  background-image: url("https://creators-cdn.nexon.com/creators-support/assets/home/game/community2/game_2009_1711501430064.png");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 590px;
  height: 208px;
  position: relative;
}

.sec03_img01_container {
  position: absolute;
  top: 80px;
  left: 40px;
  z-index: 1000;
  color: rgb(255, 255, 255);
}

.sec03_img02_container {
  position: absolute;
  left: 50px;
  z-index: 1000;
  top: 80px;
}

.hit_link {
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.hit_link div:nth-child(1) {
  color: #eee;
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 24px;
}
.hit_link button {
  color: rgb(255, 255, 255);
  letter-spacing: -0.26px;
  line-height: 18px;
  font-weight: 500;
  font-size: 0.75rem;
  padding-bottom: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(270deg, #00DC7A 0%, #00C3A1 33.33%, #119FFF 66.67%, #0076FF 100%);
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  display: flex;
}

.hit_link02 {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #00C3A1;
}
.hit_link02 div:nth-child(1) {
  color: #eee;
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 24px;
}
.hit_link02 button {
  color: rgb(255, 255, 255);
  letter-spacing: -0.26px;
  line-height: 18px;
  font-weight: 500;
  font-size: 0.75rem;
  padding-bottom: 0.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-image: linear-gradient(270deg, #00DC7A 0%, #00C3A1 33.33%, #119FFF 66.67%, #0076FF 100%);
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 36px;
  display: flex;
}

.class_p span {
  color: rgb(116, 122, 134);
  letter-spacing: -0.3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.sec04_main_container {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  display: flex;
  max-width: 1280px;
  min-width: 1280px;
}

.sec04_left_con {
  width: 285px;
  height: 415px;
}

.sec_04_text01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec_04_text01 h1 {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.sec04_left {
  padding: 30px 22px 22px 22px;
  background-color: rgb(41, 115, 255);
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}
.sec04_left .img {
  width: 123px;
  height: 118px;
  margin: auto;
}
.sec04_left .sec_04_text01 {
  margin-top: 20px;
  margin-bottom: 23px;
}
.sec04_left .sec_04_text01 p {
  color: rgb(255, 255, 255);
  line-height: 2rem;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  white-space: pre-wrap;
  word-break: keep-all;
  margin: 0;
}
.sec04_left .sec_04_text01 p .cash {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  shape-outside: url(../src/Icon/Cash.png);
}
.sec04_left .sec_04_text02 {
  opacity: 0.6;
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-size: 14px;
  text-align: center;
}
.sec04_left .sec04_btn_con {
  margin-top: 0.75rem;
}
.sec04_left .sec04_btn_con .sec04_btn {
  color: rgb(255, 255, 255);
  line-height: 22px;
  font-weight: 700;
  font-size: 14px;
  background-color: rgb(0, 24, 142);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  display: flex;
  border: none;
}

.sec04_right_con {
  min-width: 0px;
}

.sec04_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec04_text h1 {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.sec04_right_text {
  gap: 0.25rem;
  align-items: center;
  display: flex;
}
.sec04_right_text img {
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  border-radius: 0.75rem;
}
.sec04_right_text span {
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.sec04_right_bottom {
  width: 100%;
  position: relative;
}
.sec04_right_bottom .sec04_bottom_item_con {
  width: 895px;
  height: 364px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sec04_right_bottom .sec04_bottom_item_con img {
  border-radius: 0.75rem;
}

.shadow_con {
  border-radius: 0.75rem;
  width: 100%;
  height: 364px;
  top: 0;
  left: 0;
  bottom: 364px;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.95));
}
.shadow_con button {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgb(175, 73, 255);
  border-radius: 1.5rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  height: 1.5rem;
}
.shadow_con img {
  width: auto;
  height: 22px;
  top: 0.75rem;
  right: 1.25rem;
}

.sec04_bottom_text {
  padding: 1.25rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 285px;
  height: 364px;
  color: rgb(255, 255, 255);
}
.sec04_bottom_text .text01 {
  width: 100%;
  height: auto;
  letter-spacing: -0.43px;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.sec04_bottom_text .text02 {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}
.sec04_bottom_text .text03 {
  padding-top: 1.25rem;
  padding-bottom: 0.1rem;
  display: flex;
  justify-content: space-between;
  margin-top: -0.25rem;
  border-bottom: 1px solid rgba(232, 235, 242, 0.2);
}
.sec04_bottom_text .text03 p:nth-child(1) {
  letter-spacing: -0.26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.sec04_bottom_text .text03 p:nth-child(2) {
  color: rgb(177, 183, 196);
  letter-spacing: -0.26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.sec04_bottom_text .text04 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
}
.sec04_bottom_text .text04 p {
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.sec04_bottom_text .text04 .text04_01 {
  align-items: center;
  display: flex;
}
.sec04_bottom_text .text04 .text04_01 img {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  margin-right: 2px;
  transform: translateY(5px);
}
.sec04_bottom_text .text04 .text04_02 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.sec04_bottom_text .text04 .text04_02 img {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  transform: translateY(4px);
}
.sec04_bottom_text .text04 .text04_02 span {
  color: rgb(255, 230, 0);
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
}

.sec04_item01,
.sec04_item02,
.sec04_item03 {
  overflow: hidden;
  transition: all 1s;
}

.sec04_main_img_01,
.sec04_main_img_02,
.sec04_main_img_03 {
  overflow: hidden;
}
.sec04_main_img_01 img,
.sec04_main_img_02 img,
.sec04_main_img_03 img {
  transition: all 0.2s;
  border-radius: 20px;
}

.sec05_text_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec05_text_con a {
  display: flex;
  align-items: center;
}
.sec05_text_con a img {
  width: 16px;
  height: 30px;
  margin-left: 0.5rem;
  transform: translateY(2px);
}
.sec05_text_con span:nth-child(1) {
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.sec05_text_con span:nth-child(2) {
  color: rgb(177, 183, 196);
  letter-spacing: -0.35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.sec05_select_con {
  padding: 0.25rem;
  overflow: hidden;
  margin: -0.25rem;
  position: relative;
}
.sec05_select_con .sec05_select {
  padding-top: 0.25rem;
  overflow: hidden;
  margin-top: -0.25rem;
}
.sec05_select_con ul {
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 12px;
  display: flex;
  margin: 0;
  padding: 0;
}
.sec05_select_con ul li {
  min-width: -moz-fit-content;
  min-width: fit-content;
  list-style-type: none;
}
.sec05_select_con .sec05_a {
  text-align: center;
  padding: 10px 19px 12px 19px;
  background-color: rgb(41, 115, 255);
  max-width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 3rem;
  position: relative;
  border-radius: 9999px;
  border: 1px solid gray;
}
.sec05_select_con .sec05_a span {
  color: rgb(255, 255, 255);
  letter-spacing: -0.35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.tab_content {
  display: none;
}

.tab_content.active {
  display: block;
}/*# sourceMappingURL=nexon.css.map */